
<h1>Welcome {{this.firstName}}!</h1>
<!-- need to update to link to user image -->
<img src="{{this.userImg}}" alt="" class="circle">

<h2>Activity Feed</h2>

<ul>
  <!-- need to update to link to table in db-->
  {{#each badge}}
  	<li class="collection-item avatar">
      <!-- update to link to badge image -->
      <img src="{{this.badgeImg}}" alt="" class="circle">
      <!-- update to link to sender and recipient -->
      <span class="title">{{this.sender}} gave a badge to {{this.recipient}}!</span>
      <!-- update to link to badge message -->
      <p>{{this.badgeMsg}}</p>
  	</li>
  {{/each}}

</ul>