
<h1>Welcome {{user.name}}!</h1>
<!-- need to update to link to user image -->
<img src="{{user.img_url}}" alt="" class="circle">

<h2>Activity Feed</h2>

<ul>
  <!-- need to update to link to table in db-->
  {{#each badges}}
  	<li class="collection-item avatar">
      <!-- update to link to badge image -->
      <img src="{{badgeurl}}" alt="" class="circle">
      <!-- update to link to sender and recipient -->
      <span class="title">{{sender_name}} gave a badge to {{recipient_name}}!</span>
      <!-- update to link to badge message -->
      <p>{{comment}}</p>
  	</li>
  {{/each}}

</ul>