    <div class="row">
      <div class="col s12">
        <h3 class="center-align">Welcome {{user.name}}!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <img src="{{user.photo_path}}" alt="" class="circle">
      </div>
    </div>
    
    <div class="row">
      <div class="col s12">
        <h4 class="center-align">Activity Feed</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collection">
          {{#each badges}}
          	<li class="collection-item avatar">

              <img src="{{badge_url}}" alt="" class="circle">

              <span class="title">{{sender_name}} gave a badge to {{recipient_name}}!</span>

              <p>{{comment}}</p>
          	</li>
          {{/each}}
        </ul>
      </div>
    </div>