	<div class="container" id="user-profile">
		<div class="row"> 
			<div class="col s12 center-align" id="greeting">
				<h1>{{this.name}}</h1>
			</div>
		</div>

		<div class="row"> 
			<div class="col s12 center-align" id="user-name">
			<!-- need to update to link to user image -->
			<img src="{{this.img_url}}" alt="" class="circle">
		</div>

	<!-- User Specific Feed -->
		<div class="row"> 
			<div class="col s12 center-align" id="badge-history">
				<h2>Badge History</h2>
			</div>
		</div>

		<div class="row"> 
			<div class="col s12 center-align" id="greeting">
				<ul>
				  <!-- need to update to link to table in db-->
				  {{#each badges}}
				  	<li class="collection-item avatar">
				      <!-- update to link to badge image -->
				      <img src="{{this.badgeurl}}" alt="" class="circle">
				      <!-- update to link to sender and recipient -->
				      <span class="title">{{this.sender_name}} gave a badge to {{this.recipient_name}}!</span>
				      <!-- update to link to badge message -->
				      <p>{{this.comment}}</p>
				  	</li>
				  {{/each}}
				</ul>
			</div>
		</div>
	</div>