	<div class="container" id="user-profile">
		
		<div class="row" id="profile-header"> 
			<div class="col s12 center-align">
				<h2>{{this.name}}'s Profile</h2>
			</div>
		</div>
		<div class="row" id="profile-info-wrap">
			<div class="col m3 offset-m3 s4 offset-s4">
				<img src="{{this.img_url}}" alt="" class="circle profile-photo">
			</div>
			<div class="col m6 s10 offset-s1">
				<ul id="profile-info-list">
					<li id="position">{{this.title}}</li>
					<li>{{this.phone}}</li>
					<li>
						<a href="mailto:{{this.email}}" target="_top">Send E-Mail</a>
					</li>
					<li>
						<a href="{{this.linkedin_url}}" target="_blank">
							<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>

	<!-- User Specific Feed -->
		<div class="row" id="prof-badge-row"> 
			<div class="col s12 center-align" id="badge-history">
				<h3>Badge History</h3>
				<div class="header-border"></div>
			</div>
		</div>

		<div class="row scroll"> 
			<div class="col s12">
				<ul class="collection">
					<!-- query on back-end searches for profile-specific badges,
					handlebars loops through result and displays each badge + info -->
				  {{#each badges}}
				  	<li class="collection-item avatar">

				     	<img src="{{this.badgeurl}}" alt="" class="circle">

				    	<span class="title badge-title"><a href="/profile/{{this.sender_name}}" class="profile-link">{{this.sender_name}}</a> gave a badge to <a href="/profile/{{this.recipient_name}}" class="profile-link">{{this.recipient_name}}</a>!</span>

				    	<p class="badge-comment">{{this.comment}}</p>
				  	</li>
				  	{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>