	<div class="container" id="user-profile">
		<div class="row"> 
			<div class="col s12 center-align" id="greeting">
				<h2>{{this.name}}'s Profile</h2>
			</div>
		</div>

		<div class="row"> 
			<div class="col s12 center-align" id="user-name">
			<!-- need to update to link to user image -->
			<img src="{{this.img_url}}" alt="" class="circle">
		</div>

	<!-- User Specific Feed -->
		<div class="row"> 
			<div class="col s12 center-align" id="badge-history">
				<h3>Badge History</h3>
				<div class="header-border"></div>
			</div>
		</div>

		<div class="row"> 
			<div class="col s12" id="greeting">
				<ul class="collection">
				  <!-- need to update to link to table in db-->
				  {{#each badges}}
				  	<li class="collection-item avatar">
				      <!-- update to link to badge image -->
				     	<img src="{{this.badgeurl}}" alt="" class="circle">
				      <!-- update to link to sender and recipient -->
				    	<span class="title"><a href="/profile/{{this.sender_name}}" class="profile-link">{{this.sender_name}}</a> gave a badge to <a href="/profile/{{this.recipient_name}}" class="profile-link">{{this.recipient_name}}</a>!</span>
				      <!-- update to link to badge message -->
				    	<p>{{this.comment}}</p>
				  	</li>
				  	{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>